/* Created by Artisteer v4.0.0.58475 */

#art-main
{
   background: #613B38 url('images/page.jpeg') scroll;
   margin:0 auto;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.art-hmenu
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #FD7A17;
   background: linear-gradient(top, #FD9749 0, #FC6F03 70%, #DE6202 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FD9749 0, #FC6F03 70%, #DE6202 100%) no-repeat;
   background: -moz-linear-gradient(top, #FD9749 0, #FC6F03 70%, #DE6202 100%) no-repeat;
   background: -o-linear-gradient(top, #FD9749 0, #FC6F03 70%, #DE6202 100%) no-repeat;
   background: -ms-linear-gradient(top, #FD9749 0, #FC6F03 70%, #DE6202 100%) no-repeat;
   background: linear-gradient(top, #FD9749 0, #FC6F03 70%, #DE6202 100%) no-repeat;
   -svg-background: linear-gradient(top, #FD9749 0, #FC6F03 70%, #DE6202 100%) no-repeat;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
   border-radius:7px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   border:1px solid #40341C;
   padding:0 15px;
   margin:0 auto;
   height:26px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent p
{
   margin: 12px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 32px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #8E5652;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FD7A17;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #A96E6A;
}

.art-postcontent h1
{
   color: #A96E6A;
   margin-top: 21px;
   margin-bottom: 21px;
   font-size: 32px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h1
{
   margin-top: 21px;
   margin-bottom: 21px;
   font-size: 32px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 32px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2
{
   color: #A96E6A;
   margin-top: 19px;
   margin-bottom: 19px;
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h2
{
   margin-top: 19px;
   margin-bottom: 19px;
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h3
{
   color: #824E4A;
   margin: 15px 0 0;
   font-size: 19px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h3
{
   margin: 15px 0 0;
   font-size: 19px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 19px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h4
{
   color: #925854;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 16px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h4
{
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 16px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 16px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5
{
   color: #C09491;
   margin-top: 26px;
   margin-bottom: 26px;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h5
{
   margin-top: 26px;
   margin-bottom: 26px;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6
{
   color: #824E4A;
   margin-top: 35px;
   margin-bottom: 35px;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h6
{
   margin-top: 35px;
   margin-bottom: 35px;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #BFA46E;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.art-object557410578 h1, 
.art-object557410578 h2, 
.art-object557410578 h3, 
.art-object557410578 h4, 
.art-object557410578 h5, 
.art-object557410578 h6, 
.art-object557410578 p, 
.art-object557410578 a, 
.art-object557410578 ul, 
.art-object557410578 ol, 
.art-object557410578 li
{
  line-height: 125%;
}

.art-object557410578
{  
  position: absolute;
  top: -79px;
  left: 2.6%;
  margin-left: -9px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
    background-image: url('images/object557410578.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 1;
  width: 372px;
  height: 200px;
}

.art-object557410578-text
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: left;
vertical-align: middle;
  color: #83A00D !important;
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  word-wrap: break-word;
  height: 200px;
  width: 372px;  
}

.art-textblock ul > li
{
    background-position-y: 8px !important;
}
.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 6px;
  left: 8.61%;
  line-height: 100%;
  margin-left: -22px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.art-headline, 
.art-headline a, 
.art-headline a:link, 
.art-headline a:visited, 
.art-headline a:hover
{
font-size: 68px;
font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
  padding: 0;
  margin: 0;
  color: #FB7D23 !important;
  white-space: nowrap;
}
.art-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 82px;
  left: 12.78%;
  line-height: 100%;
  margin-left: -21px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.art-slogan, 
.art-slogan a, 
.art-slogan a:link, 
.art-slogan a:visited, 
.art-slogan a:hover
{
font-size: 21px;
font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
  padding: 0;
  margin: 0;
  color: #E35502 !important;
}






.art-header
{
   margin:0 auto;
   position:relative;
   height: 120px;
   background-image: url('images/header.jpg');
   background-position: center top;
   background-repeat: no-repeat;
}

.responsive .art-header 
{
   background-image: url('images/header.jpg');
   background-position: center center;
}

.art-header-inner{
   position: relative;
   min-width: 700px;
   max-width: 1536px;
   width: 80%;
   z-index: auto !important;
   margin: 0 auto;
}

.art-header>.widget 
{
   position:absolute;
   z-index:101;
}

.art-nav
{
   background: #34220E url('images/nav.png') scroll;
   background: linear-gradient(top, rgba(106, 70, 28, 0.21) 0, rgba(3, 2, 1, 0.14) 100%) no-repeat, url('images/nav.png'), linear-gradient(top, #593A18 0, #140D05 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(106, 70, 28, 0.21) 0, rgba(3, 2, 1, 0.14) 100%) no-repeat, url('images/nav.png'), -webkit-linear-gradient(top, #593A18 0, #140D05 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(106, 70, 28, 0.21) 0, rgba(3, 2, 1, 0.14) 100%) no-repeat, url('images/nav.png'), -moz-linear-gradient(top, #593A18 0, #140D05 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(106, 70, 28, 0.21) 0, rgba(3, 2, 1, 0.14) 100%) no-repeat, url('images/nav.png'), -o-linear-gradient(top, #593A18 0, #140D05 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(106, 70, 28, 0.21) 0, rgba(3, 2, 1, 0.14) 100%) no-repeat, url('images/nav.png'), -ms-linear-gradient(top, #593A18 0, #140D05 100%) no-repeat;
   background: linear-gradient(top, rgba(106, 70, 28, 0.21) 0, rgba(3, 2, 1, 0.14) 100%) no-repeat, url('images/nav.png'), linear-gradient(top, #593A18 0, #140D05 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(106, 70, 28, 0.21) 0, rgba(3, 2, 1, 0.14) 100%) no-repeat, url('images/nav.png'), linear-gradient(top, #593A18 0, #140D05 100%) no-repeat;
   padding:9px 10px;
   margin:0 auto;
   position: relative;
   z-index: 100;
   font-size: 0;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: middle;
   padding-left: 10px;
   padding-right: 10px;
}

.art-nav-inner:before 
{
   content:' ';
}

.art-nav-inner{
   text-align: left;
   margin:0 auto;
}

.desktop-nav .art-nav-inner{
   min-width: 700px;
   max-width: 1536px;
   width: 80%;
   padding-left: 10px;
   padding-right: 10px;
}

.desktop-nav.art-nav
{
   padding-left: 0;
   padding-right: 0;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu
{
   float: left;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 3px;
}
ul.art-hmenu>li:first-child {
   margin-left: 1px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 1px;
}

ul.art-hmenu>li>a
{
   background: #957941 url('images/menuitem.png') scroll;
   background: linear-gradient(top, rgba(181, 150, 87, 0.11) 0, rgba(112, 91, 49, 0.05) 100%) no-repeat, url('images/menuitem.png'), linear-gradient(top, rgba(174, 141, 76, 0.6) 0, rgba(124, 101, 54, 0.6) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(181, 150, 87, 0.11) 0, rgba(112, 91, 49, 0.05) 100%) no-repeat, url('images/menuitem.png'), -webkit-linear-gradient(top, rgba(174, 141, 76, 0.6) 0, rgba(124, 101, 54, 0.6) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(181, 150, 87, 0.11) 0, rgba(112, 91, 49, 0.05) 100%) no-repeat, url('images/menuitem.png'), -moz-linear-gradient(top, rgba(174, 141, 76, 0.6) 0, rgba(124, 101, 54, 0.6) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(181, 150, 87, 0.11) 0, rgba(112, 91, 49, 0.05) 100%) no-repeat, url('images/menuitem.png'), -o-linear-gradient(top, rgba(174, 141, 76, 0.6) 0, rgba(124, 101, 54, 0.6) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(181, 150, 87, 0.11) 0, rgba(112, 91, 49, 0.05) 100%) no-repeat, url('images/menuitem.png'), -ms-linear-gradient(top, rgba(174, 141, 76, 0.6) 0, rgba(124, 101, 54, 0.6) 100%) no-repeat;
   background: linear-gradient(top, rgba(181, 150, 87, 0.11) 0, rgba(112, 91, 49, 0.05) 100%) no-repeat, url('images/menuitem.png'), linear-gradient(top, rgba(174, 141, 76, 0.6) 0, rgba(124, 101, 54, 0.6) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(181, 150, 87, 0.11) 0, rgba(112, 91, 49, 0.05) 100%) no-repeat, url('images/menuitem.png'), linear-gradient(top, rgba(174, 141, 76, 0.6) 0, rgba(124, 101, 54, 0.6) 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid rgba(151, 67, 2, 0.6);
   padding:0 22px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 31px;
   cursor: pointer;
   text-decoration: none;
   color: #C1A671;
   line-height: 31px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 14px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   background: #FD7A17 url('images/menuactiveitem.png') scroll;
   background: linear-gradient(top, rgba(253, 153, 76, 0.18) 0, rgba(242, 106, 2, 0.08) 79%, rgba(220, 96, 2, 0.09) 100%) no-repeat, url('images/menuactiveitem.png'), linear-gradient(top, #FD8F3A 0, #FC6F03 79%, #ED6802 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(253, 153, 76, 0.18) 0, rgba(242, 106, 2, 0.08) 79%, rgba(220, 96, 2, 0.09) 100%) no-repeat, url('images/menuactiveitem.png'), -webkit-linear-gradient(top, #FD8F3A 0, #FC6F03 79%, #ED6802 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(253, 153, 76, 0.18) 0, rgba(242, 106, 2, 0.08) 79%, rgba(220, 96, 2, 0.09) 100%) no-repeat, url('images/menuactiveitem.png'), -moz-linear-gradient(top, #FD8F3A 0, #FC6F03 79%, #ED6802 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(253, 153, 76, 0.18) 0, rgba(242, 106, 2, 0.08) 79%, rgba(220, 96, 2, 0.09) 100%) no-repeat, url('images/menuactiveitem.png'), -o-linear-gradient(top, #FD8F3A 0, #FC6F03 79%, #ED6802 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(253, 153, 76, 0.18) 0, rgba(242, 106, 2, 0.08) 79%, rgba(220, 96, 2, 0.09) 100%) no-repeat, url('images/menuactiveitem.png'), -ms-linear-gradient(top, #FD8F3A 0, #FC6F03 79%, #ED6802 100%) no-repeat;
   background: linear-gradient(top, rgba(253, 153, 76, 0.18) 0, rgba(242, 106, 2, 0.08) 79%, rgba(220, 96, 2, 0.09) 100%) no-repeat, url('images/menuactiveitem.png'), linear-gradient(top, #FD8F3A 0, #FC6F03 79%, #ED6802 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(253, 153, 76, 0.18) 0, rgba(242, 106, 2, 0.08) 79%, rgba(220, 96, 2, 0.09) 100%) no-repeat, url('images/menuactiveitem.png'), linear-gradient(top, #FD8F3A 0, #FC6F03 79%, #ED6802 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #FD7A17;
   padding:0 22px;
   margin:0 auto;
   color: #000000;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #FE901B url('images/menuhovereditem.png') scroll;
   background: linear-gradient(top, rgba(254, 170, 80, 0.18) 0, rgba(241, 125, 1, 0.08) 86%, rgba(226, 117, 1, 0.09) 100%) no-repeat, url('images/menuhovereditem.png'), linear-gradient(top, #FEA13E 0, #FE8401 86%, #F47E01 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(254, 170, 80, 0.18) 0, rgba(241, 125, 1, 0.08) 86%, rgba(226, 117, 1, 0.09) 100%) no-repeat, url('images/menuhovereditem.png'), -webkit-linear-gradient(top, #FEA13E 0, #FE8401 86%, #F47E01 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(254, 170, 80, 0.18) 0, rgba(241, 125, 1, 0.08) 86%, rgba(226, 117, 1, 0.09) 100%) no-repeat, url('images/menuhovereditem.png'), -moz-linear-gradient(top, #FEA13E 0, #FE8401 86%, #F47E01 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(254, 170, 80, 0.18) 0, rgba(241, 125, 1, 0.08) 86%, rgba(226, 117, 1, 0.09) 100%) no-repeat, url('images/menuhovereditem.png'), -o-linear-gradient(top, #FEA13E 0, #FE8401 86%, #F47E01 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(254, 170, 80, 0.18) 0, rgba(241, 125, 1, 0.08) 86%, rgba(226, 117, 1, 0.09) 100%) no-repeat, url('images/menuhovereditem.png'), -ms-linear-gradient(top, #FEA13E 0, #FE8401 86%, #F47E01 100%) no-repeat;
   background: linear-gradient(top, rgba(254, 170, 80, 0.18) 0, rgba(241, 125, 1, 0.08) 86%, rgba(226, 117, 1, 0.09) 100%) no-repeat, url('images/menuhovereditem.png'), linear-gradient(top, #FEA13E 0, #FE8401 86%, #F47E01 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(254, 170, 80, 0.18) 0, rgba(241, 125, 1, 0.08) 86%, rgba(226, 117, 1, 0.09) 100%) no-repeat, url('images/menuhovereditem.png'), linear-gradient(top, #FEA13E 0, #FE8401 86%, #F47E01 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #34220E;
   padding:0 22px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop-nav ul.art-hmenu>li:hover>a {
   color: #4C2101;
   text-decoration: none;
}

ul.art-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -3px;
   width:3px;
   height: 31px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.art-hmenu>li:first-child:before{
   display:none;
}

ul.art-hmenu li li a
{
   background: #E5D9C3;
   border:1px solid #CFBA91;
   padding:0 22px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 23px;
   min-width: 7em;
   border: 1px solid transparent;
   text-align: left;
   line-height: 23px;
   color: #40341C;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.art-hmenu li li a 
{
   border-top-width: 0 !important;
}
.art-hmenu li li:hover a 
{
   border-top-width: 1px !important;
}
.art-hmenu ul>li:first-child>a 
{
   border-top-width: 1px !important;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 23px;
   color: #40341C;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #CFADAB;
   border:1px solid #BA8B87;
   margin:0 auto;
}

.art-hmenu ul li a:hover
{
   color: #000000;
}

.art-hmenu ul li a.art-hmenu-before-hovered 
{
   border-bottom-width: 0 !important;
}

.desktop-nav .art-hmenu ul li:hover>a
{
   color: #000000;
}

ul.art-hmenu ul:before
{
   background: #A66864;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.art-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop-nav ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop-nav ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.desktop-nav ul.art-hmenu>li.ext>a
{
   white-space: nowrap;
}

.desktop-nav ul.art-hmenu>li.ext>a:hover,
.desktop-nav ul.art-hmenu>li.ext:hover>a,
.desktop-nav ul.art-hmenu>li.ext:hover>a.active  
{
   background: none;
   /* default padding + border size */
  padding: 1px 23px 1px 23px;
   /* margin for shadow */
  margin: -0 -0 0 -0;
   overflow: hidden;
   position: relative;
   border: none;
   border-radius: 0;
   box-shadow: none;
   color: #FDFCFC;
}

.desktop-nav ul.art-hmenu>li.ext>a:hover:before,
.desktop-nav ul.art-hmenu>li.ext:hover>a:before,
.desktop-nav ul.art-hmenu>li.ext:hover>a.active:before  
{
   position: absolute;
   content: ' ';
   /* top, right, left - for shadow */
  top: 0;
   right: 0;
   left: 0;
   /* border + shadow */
  bottom: -0;
   background-color: #A66864;
   border: 0 solid transparent;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
   z-index: -1;
}

.desktop-nav ul.art-hmenu>li.ext:hover>ul 
{
   padding-top: 0;
   /* menu bar padding */
  margin-top: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>ul:before 
{
   /* border + shadow */
  top: -0;
   clip: rect(0, auto, auto, auto);
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.art-hmenu>li.ext>.ext-r,
ul.art-hmenu>li.ext>.ext-l,
ul.art-hmenu>li.ext>.ext-m,
ul.art-hmenu>li.ext>.ext-off
{
   display: none;
   z-index: 12;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.desktop-nav ul.art-hmenu>li.ext>ul 
{
   z-index: 13;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r,
.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
   position: absolute;
   display: block;
   overflow: hidden;
   /* size of radius 
   * if size if 0 we should now generate script 
   * that adds ext-r and ext-m divs
   */
  height: 0;
   top: 100%;
   padding-top: 0;
   margin-top: -0;
/* border width + shadow */}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-r:before,
.desktop-nav ul.art-hmenu>li.ext:hover>.ext-l:before
{
   position: absolute;
   content: ' ';
   top: 0;
   /* border + shadow */
  bottom: -0;
   background-color: #A66864;
   border: 0 solid transparent;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r
{
   left: 100%;
   right: auto;
   padding-left: 0;
   margin-left: 0;
   padding-right: 0;
   margin-right: -0;
/* only shadow */}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r:before
{
   right: 0;
   left: -0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
   right: 100%;
   left: auto;
   padding-right: 0;
   margin-right: 0;
   padding-left: 0;
   margin-left: -0;
/* only shadow */}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l:before
{
   right: -0;
   left: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-m, 
.desktop-nav ul.art-hmenu>li.ext:hover>.ext-off 
{
   position: absolute;
   display: block;
   overflow: hidden;
   height: 0;
   top: 100%;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-m 
{
   /* shadow offset */
  left: -0;
   right: 0;
   /* shadow offset */
  padding-right: 0;
   padding-left: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-off 
{
   /* shadow offset */
  left: -0;
   right: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: 0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-m:before, 
.desktop-nav ul.art-hmenu>li.ext:hover>.ext-off:before 
{
   position: absolute;
   content: ' ';
   top: -0;
   bottom: -0;
   /* shadow offset */
  background-color: #A66864;
   border: 0 solid transparent;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-m:before
{
   right: -0;
   left: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-m:before
{
   left: -0;
   right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
   left: -0;
   right: -0
;
}

.art-sheet
{
   background: #3E2523;
   background: transparent;
   -webkit-border-radius:15px 15px 0 0;
   -moz-border-radius:15px 15px 0 0;
   border-radius:15px 15px 0 0;
   border:1px solid transparent;
   border-bottom:none;
   margin:0 auto;
   margin-left: 130px;
   position:relative;
   cursor:auto;
   width: 910px;
   min-width: 900px;
   max-width: 1536px;
   z-index: auto !important;
}

.art-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.art-layout-cell-about p
{
   color: #3a382d;
   margin: 15px 0 0;
   font-size: 19px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.art-block
{
   background: #6A3E24;
   background: rgba(106, 62, 36, 0.5);
   -webkit-border-radius:13px;
   -moz-border-radius:13px;
   border-radius:13px;
   border:1px solid rgba(99, 81, 44, 0.5);
   padding:7px;
   margin:10px;
}
div.art-block img
{
   border: none;
   margin: 3px;
}

.art-blockheader
{
   background: #A66864 url('images/blockheader.png') scroll;
   background: linear-gradient(top, rgba(185, 137, 134, 0.18) 0, rgba(159, 96, 91, 0.07) 64%, rgba(134, 81, 77, 0.09) 100%) no-repeat, url('images/blockheader.png'), linear-gradient(top, #B37E7A 0, #A2625D 64%, #925854 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(185, 137, 134, 0.18) 0, rgba(159, 96, 91, 0.07) 64%, rgba(134, 81, 77, 0.09) 100%) no-repeat, url('images/blockheader.png'), -webkit-linear-gradient(top, #B37E7A 0, #A2625D 64%, #925854 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(185, 137, 134, 0.18) 0, rgba(159, 96, 91, 0.07) 64%, rgba(134, 81, 77, 0.09) 100%) no-repeat, url('images/blockheader.png'), -moz-linear-gradient(top, #B37E7A 0, #A2625D 64%, #925854 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(185, 137, 134, 0.18) 0, rgba(159, 96, 91, 0.07) 64%, rgba(134, 81, 77, 0.09) 100%) no-repeat, url('images/blockheader.png'), -o-linear-gradient(top, #B37E7A 0, #A2625D 64%, #925854 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(185, 137, 134, 0.18) 0, rgba(159, 96, 91, 0.07) 64%, rgba(134, 81, 77, 0.09) 100%) no-repeat, url('images/blockheader.png'), -ms-linear-gradient(top, #B37E7A 0, #A2625D 64%, #925854 100%) no-repeat;
   background: linear-gradient(top, rgba(185, 137, 134, 0.18) 0, rgba(159, 96, 91, 0.07) 64%, rgba(134, 81, 77, 0.09) 100%) no-repeat, url('images/blockheader.png'), linear-gradient(top, #B37E7A 0, #A2625D 64%, #925854 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(185, 137, 134, 0.18) 0, rgba(159, 96, 91, 0.07) 64%, rgba(134, 81, 77, 0.09) 100%) no-repeat, url('images/blockheader.png'), linear-gradient(top, #B37E7A 0, #A2625D 64%, #925854 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #A66864;
   padding:8px 5px;
   margin:0 auto 4px;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #000000;
   font-size: 14px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   margin: 0 10px 0 5px;
}

.art-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #C9B183;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #C9B183;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent p
{
   margin: 6px 0;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #B17B77;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #FD862B;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #C29794;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.art-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .art-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #FEAB6D;
}

.art-block ul>li, .art-block ol
{
   padding: 0;
}

.art-block ul>li
{
   padding-left: 12px;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-transform: uppercase;
   font-variant: small-caps;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #000000;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 26px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-transform: uppercase;
   font-variant: small-caps;
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
}

.art-button.active, .art-button.active:hover
{
   background: #FE972A;
   background: linear-gradient(top, #FEB05D 0, #FE8401 90%, #F47E01 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FEB05D 0, #FE8401 90%, #F47E01 100%) no-repeat;
   background: -moz-linear-gradient(top, #FEB05D 0, #FE8401 90%, #F47E01 100%) no-repeat;
   background: -o-linear-gradient(top, #FEB05D 0, #FE8401 90%, #F47E01 100%) no-repeat;
   background: -ms-linear-gradient(top, #FEB05D 0, #FE8401 90%, #F47E01 100%) no-repeat;
   background: linear-gradient(top, #FEB05D 0, #FE8401 90%, #F47E01 100%) no-repeat;
   -svg-background: linear-gradient(top, #FEB05D 0, #FE8401 90%, #F47E01 100%) no-repeat;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
   border-radius:7px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   border:1px solid #613B38;
   padding:0 15px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #381801 !important;
}

.art-button.hover, .art-button:hover
{
   background: #FE901B;
   background: linear-gradient(top, #FEA94D 0, #FE8401 75%, #E47701 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FEA94D 0, #FE8401 75%, #E47701 100%) no-repeat;
   background: -moz-linear-gradient(top, #FEA94D 0, #FE8401 75%, #E47701 100%) no-repeat;
   background: -o-linear-gradient(top, #FEA94D 0, #FE8401 75%, #E47701 100%) no-repeat;
   background: -ms-linear-gradient(top, #FEA94D 0, #FE8401 75%, #E47701 100%) no-repeat;
   background: linear-gradient(top, #FEA94D 0, #FE8401 75%, #E47701 100%) no-repeat;
   -svg-background: linear-gradient(top, #FEA94D 0, #FE8401 75%, #E47701 100%) no-repeat;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
   border-radius:7px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   border:1px solid #FE901B;
   padding:0 15px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #201413 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #F9FAFB;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #AE8D4C;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 4px 0;
   color: #793501 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.art-error, textarea.art-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #793501 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search input[type="text"]
{
   background: #F9FAFB;
   border-radius: 0;
   margin:0 auto;
   width: 100%;
   padding: 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #793501 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input
{
   top:0;
   right:0;
}

form.art-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.art-search input[type="submit"]
{
   background: #CFADAB;
   margin:0 auto;
   color: #683F3C !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:absolute;
   display:block;
   left: auto;
   border: 0;
   top: 0;
   bottom: 0;
   right: 	0;
}

label.art-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #CFBA91;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #E5D9C3;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #CFBA91;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #E5D9C3;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.art-post
{
   margin:5px;
}
a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   margin: 7px 7px 7px 7px;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th, .art-article td
{
   padding: 2px;
   border: solid 1px #FD7A17;
   vertical-align: top;
   text-align: left;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postheader
{
   color: #9F605B;
   margin: 15px 0 0 10px;
   font-size: 19px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 19px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postheader a, .art-postheader a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #A46560;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FD8930;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #A96E6A;
}

.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #FD9D53;
}

.art-postheadericons
{
   display:inline-block;
   padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #CFBA91;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #CFBA91;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline;
   color: #8A703D;
}

.art-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #CAB486;
   margin: 0 0 0 26px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 13px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -13px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 26px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 26px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 0 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #EBDCDB url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 38px;
   margin:10px 10px 10px 50px;
   color: #130C0B;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #130C0B;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
   margin: 2px 0 2px 15px;
}

.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #FD9D53;
}

.art-postfootericons
{
   display:inline-block;
   padding: 1px;
}

.art-postfootericons a, .art-postfootericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #CFBA91;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #CFBA91;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #7E4C49;
}

.art-footer
{
   background: #6A3E24;
   background: rgba(106, 62, 36, 0.5);
   margin:0 auto;
   position: relative;
   color: #FEBD8B;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
   padding: 0;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td, 
.art-footer th,
.art-footer caption
{
   color: #FEBD8B;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer p 
{
   padding:0;
   text-align: center;
}

.art-footer a,
.art-footer a:link
{
   color: #9F605B;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:visited
{
   color: #ED6802;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:hover
{
   color: #B17B77;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer img
{
   border: none;
   margin: 0;
}

.art-footer-inner
{
   margin: 0 auto;
   min-width: 700px;
   max-width: 1536px;
   width:80%;
   padding:10px;
   padding-right: 10px;
   padding-left: 10px;
}

.art-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #FEDCC2;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #D5C39F;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #FEB177;
}

img.art-lightbox
{
   cursor: pointer;
}

#art-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#art-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.art-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.art-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.art-content-layout .art-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */
.art-logo-text {margin: -10px 0 0 5px}
.art-blockheader .t, .art-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */
